/*
 * Created by Lucy Gao, 2024
 *
 * This stylesheet is used by play.html (the page showing all Survivors games).
 */

body {
  background-image: url("images/FIDgamedash.png");
}

html {
  height: 100%;
}

body, #flight-initiation-distance, #margin-of-safety, #the-predation-game {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

body, #top-header h1 {
  font-style: normal;
}

header, main {
 flex-direction: column;
}

#top-header, main {
  justify-content: space-between;
}

#top-header {
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #8AB1D0 0%, #23418A 50%) 100% 1;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  justify-content: space-around;
}

main {
  height: fit-content;
  width: auto;
  margin-top: 10px;
}

nav a {
  padding: 20px;
}

nav a, #back {
  text-decoration: none;
  text-align: center;
}

nav a {
  flex-grow: 1;
  border-radius: 0px 0px 30px 30px;
  font-size: larger;
}

nav a, .game {
  margin: 0px 20px;
}

nav a, body, #play-link, .game button {
  color: #FFFFFF;
}

#play-link:hover, h3, p, nav, nav a {
  font-weight: 400;
}

#play-link {
  font-size: 40px;
  background-color: #89B0CF;
  letter-spacing: 15px;
  padding: 15px;
}

#play-link, .game h1 {
  font-weight: 200;
}

nav a:hover {
  background-color: rgba(35, 65, 138, 0.5);
}

button:hover, a:hover, #back:hover {
  font-weight: bold;
}

h3, .game button {
  letter-spacing: 5px;
}

p, nav {
  font-family: 'Nunito', sans-serif;
}

header, #top-header, nav, main, #game-scores, #games {
  display: flex;
}

#top-header, #game-scores, #games {
 flex-direction: row;
}

#back, .game, .gamebtn {
  border-top: 2px solid #89B0CF;
  border-bottom: 2px solid #89B0CF;
  border-radius: 30px;
}

#back, .game {
  margin: 10px;
}

#top-header h1 {
  letter-spacing: 20px;
  font-size: 45px;
  font-weight: 600;
}

img {
  max-width: 20vw;
  padding: 10px 0px;
  justify-self: center;
}

.game {
  flex: 1;
  margin: 10px 20px;
  display: grid;
  padding: 30px;
}

.game h1 {
  letter-spacing: 7px;
  margin: 0px;
  text-align: center;
}

.game h1, .gamebtn {
  font-size: 26px;
}

#back, body {
  font-family: 'Kodchasan', sans-serif;
}

#games {
  justify-content: space-evenly;
  width: 100%;
  min-height: 64vh;
}

#flight-initiation-distance {
  background-image: url('images/fidbackground.png');
}

#margin-of-safety {
  background-image: url('images/mosbackground.png');
}

#the-predation-game {
  background-image: url('images/predbackground.png');
}

#back, .gamebtn {
  width: fit-content;
  padding: 15px 30px;
  color: #E2F2FF;
  background-color: #2A4587;
  letter-spacing: 10px;
  font-weight: 500;
}

#back {
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.game {
  cursor: pointer;
  align-items: center;
}

.scrollable-x {
  overflow-x: auto;
  padding: 0px;
}

.gamebtn {
  visibility: hidden;
  padding: 10px 50px;
  font-size: x-large;
  text-decoration: none;
  align-self: center;
  margin: auto;
  margin-top: 20px;
}

.game:hover > .gamebtn, .gamebtn:hover {
  visibility: visible;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #2A4587;
}

::-webkit-scrollbar-thumb {
  background: #88AFCE;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-radius: 10px;
}


@media (max-width: 1000px) {
  main {
    flex-direction: column;
  }

  nav a {
    margin: 0px 10px;
    padding: 20px;
  }

  nav {
    font-size: 14px;
  }

  #play-link {
    font-size: 35px;
    letter-spacing: 8px;
  }

  h1 {
    font-size: 20px;
    letter-spacing: 10px;
  }

  h3 {
    font-size: 16px;
  }

  #top-header {
    padding: 0px;
    justify-content: space-between;
    width: auto;
    text-align: center;
  }

  #player-id {
    width: auto;
    display: inline-block;
  }

  #back {
    bottom: -10px;
    left: 0px;
  }
}

@media (max-width: 800px) {
  html {
    height: auto;
  }

  #games {
    flex-direction: column;
  }

  nav a {
    margin: 0px 10px;
    padding-top: 20px;
  }

  nav {
    font-size: 14px;
  }

  #play-link {
    font-size: 20px;
    letter-spacing: 3px;
  }

  #top-header h3 {
    font-size: 16px;
    letter-spacing: 3px;
  }

  #top-header {
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-size: 25px;
    letter-spacing: 5px;
    margin: 0px;
  }

  #games {
    height: 85%;
  }

  img {
    max-width: 35vw;
  }
}


@media (max-width: 620px) {
  nav {
    flex-direction: column;
  }

  html {
    height: auto;
  }

  #top-header h1 {
    font-size: 35px;
    letter-spacing: 10px;
  }

  h2, #expand {
    letter-spacing: 5px;
    font-size: 18px;
  }

  #recent-trial-score h1 {
    font-size: 40px;
    letter-spacing: 10px;
  }

  #left-column, #right-column {
    flex-direction: column;
  }

  nav a {
    font-size: medium;
    padding: 10px;
    border-radius: 0px;
  }

  #play-link {
    border-radius: 0px 0px 30px 30px;
  }

  #leaderboard-table, #notifications p, .scores, #expand {
    font-size: 14px;
  }

  #recent-trial-score-split p {
    font-size: 12px;
    letter-spacing: 3px;
  }

  #player-avatar {
    justify-content: center;
  }

  main {
    flex-direction: column;
    padding: 10px;
  }

  img {
    max-width: 55vw;
  }
}
