/*
 * Created by Lucy Gao, 2024
 *
 * This stylesheet is used by index.html (the main game dashboard).
 */

 body {
  background-image: linear-gradient(#000000, #002C81);
}

body, #recent-trial-score-split p, .game button {
  font-family: 'Kodchasan', sans-serif;
}

body, h1 {
  font-style: normal;
}

p, nav, #expand, nav a, table, h3, #play-link:hover {
  font-weight: 400;
}

p, nav, table {
  font-family: 'Nunito', sans-serif;
}

header, #top-header, #left-column, #right-column, #recent-trial-content, #recent-trial-details, #games, #leaderboard, #notifications, nav, .notif, main, #recent-trial-score-split, #player-avatar, .notif, .game, .game-details {
  display: flex;
}

#top-header, #recent-trial-content, #games, .notif, main, #recent-trial-score-split, .game {
 flex-direction: row;
}

header, #left-column, #right-column, #recent-trial-details, #leaderboard, #notifications, #player-avatar, .game-details {
 flex-direction: column;
}

#games, #recent-trial-score-split {
  justify-content: space-evenly;
}

#recent-trial-score-split p {
  padding: 13px;
  margin-bottom: 35px;
}

#recent-trial-score-split p, h3, .game-name {
  letter-spacing: 5px;
}

#recent-trial-win {
  background-color: #B5DEFF;
  color: #2A4587;
  width: 25%;
  border-radius: 30px 0px 0px 30px;
}

#recent-trial-loss, #expand, .game button {
  background-color: #2A4587;
}

#recent-trial-loss {
  color: #B5DEFF;
  border-radius: 0px 30px 30px 0px;
}

#recent-trial-loss, nav a, .notif p {
  flex-grow: 1;
}

#top-header {
  border-bottom: 10px solid;
  border-image: linear-gradient(to right, #8AB1D0 0%, #23418A 50%) 100% 1;
  padding-right: 20px;
}

#top-header, .game-details, .notif, .game {
  justify-content: space-between;
}

.notif {
  margin: 15px 0px;
}

#notif-list, #leaderboard-table {
  padding-right: 15px;
}

#notif-list, #notifications, .best-score {
  margin-bottom: 20px;
}

#notifications h2, #recent-trial-score h1 {
  margin-bottom: 10px;
}

#recent-trial, #games > *, #recent-trial-score, #expand, #leaderboard, #notifications, .notif {
  border-top: 2px solid #89B0CF;
  border-bottom: 2px solid #89B0CF;
  border-radius: 30px;
  padding: 0px 20px;
}

#recent-trial, #games > *, #recent-trial-score, #expand, #leaderboard, #notifications {
  margin: 10px;
}

#games > *, #player-avatar, #recent-trial {
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

#player-avatar {
  background: radial-gradient(ellipse, #B5DEFF 0%, transparent 70%);
  margin-right: 10%;
}

#flight-initiation-distance, #recent-trial {
  background-image: url('images/fidbackground.png');
}

#margin-of-safety {
  background-image: url('images/mosbackground.png');
}

#the-predation-game {
  background-image: url('images/predbackground.png');
}

img {
  max-height: 450px;
  width: auto;
}

#expand {
  width: fit-content;
  padding: 15px 30px;
  color: #E2F2FF;
  margin-left: auto;
  margin-bottom: 30px;
}

#expand, nav a {
  text-decoration: none;
  font-size: larger;
}

#left-column, #right-column, nav, #notifications {
  justify-content: space-around;
}

main {
  padding: 10px 20px;
}

#left-column {
  width: 70%;
}

#right-column, #player-avatar {
  width: 30%;
}

#recent-trial-details {
  width: 75%;
}

#games {
  height: 30%;
  margin: 0px 10px;
}

#recent-trial {
  height: 70%;
}

nav a, .game button, #play-link, body {
  color: #FFFFFF;
}

nav a {
  margin: 0px 20px;
  padding: 20px;
  border-radius: 0px 0px 30px 30px;
}

nav a, #recent-trial-score h1, #expand {
  text-align: center;
}

nav a:hover {
  background-color: rgba(35, 65, 138, 0.5);
}

h1, h2, #expand, #recent-trial-score h1, body {
  font-weight: 600;
}

h1 {
  letter-spacing: 20px;
  font-size: 45px;
}

h2, #expand {
  letter-spacing: 10px;
}

.game-name {
  margin-bottom: 5px;
}

.recent-score, #recent-trial-score h3, #notif-list div:last-child {
  margin-bottom: 0px;
}

#games p {
  letter-spacing: 2px;
}

.notif, #recent-trial-score h3, #games p {
  font-style: italic;
}

#recent-trial-score h1 {
  font-size: 80px;
  letter-spacing: 30px;
}

.notif img {
  object-fit: contain;
  max-height: 40px;
  padding-right: 10px;
}

.notif p {
  text-align: left;
}

.notif, #player-avatar {
  align-items: center;
}

#leaderboard {
  padding-bottom: 30px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  border-top: 1px dashed #89B0CF;
  border-bottom: 1px dashed #89B0CF;
}

td, td:first-child, #top-header {
  padding-left: 20px;
}

td, td:first-child {
  padding-top: 10px;
  padding-bottom: 10px;
}

.game {
  min-width: 250px;
  flex-basis: 100%;
}

.game:hover, button:hover {
  cursor: pointer;
}

.game button {
  height: 25%;
  aspect-ratio: 1;
  position: relative;
  bottom: -60%;
  right: 5%;
  border-radius: 50%;
  border: none;
  font-size: x-large;
}

button:hover, a:hover, #expand:hover {
  font-weight: bold;
}

#play-link {
  font-size: 40px;
  background-color: #89B0CF;
  letter-spacing: 15px;
  font-weight: 200;
  padding: 15px;
}

#player-score {
  color: #6F9FFF;
  font-weight: 700;
}

table {
  counter-reset: rowNumber;
}

table tbody tr {
  counter-increment: rowNumber;
}

table tbody tr td:first-child::before {
  content: counter(rowNumber);
  margin-right: 40px;
}

.scrollable-x {
  overflow-x: auto;
  padding: 10px 0px;
}

.scrollable-y {
  overflow-y: auto;
}

#games div:first-child, #games p {
  margin-left: 0px;
}

#games div:last-child, #games p {
  margin-right: 0px;
}

#notif-list div:first-child, #games p, #recent-trial-score h1 {
  margin-top: 0px;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #2A4587;
}

::-webkit-scrollbar-thumb {
  background: #88AFCE;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  h2 {
    font-size: 20px;
    letter-spacing: 5px;
  }

  #leaderboard-table, #notifications p, .scores p {
    font-size: 14px;
  }

  #left-column {
    order: 1;
  }

  #right-column {
    order: 2;
  }
}


@media (max-width: 1000px) {
  #left-column, #right-column {
    width: 100%;
    padding: 10px;
  }

  #notifications {
    max-height: 50vh;
  }

  main {
    flex-direction: column;
  }

  #games {
    height: auto;
    width: 98%;
  }

  nav a {
    margin: 0px 10px;
    padding: 20px;
  }

  nav {
    font-size: 14px;
  }

  #play-link {
    font-size: 35px;
    letter-spacing: 8px;
  }

  h1 {
    font-size: 40px;
    letter-spacing: 10px;
  }

  h3 {
    font-size: 16px;
  }

  #top-header {
    padding: 0px;
    justify-content: space-between;
    width: auto;
    text-align: center;
  }

  #player-id {
    width: auto;
    display: inline-block;
  }

  #recent-trial {
    margin: 0px;
  }

  #recent-trial-score h1 {
    font-size: 60px;
  }

  #recent-trial-score {
    margin: 0px;
  }
}

@media (max-width: 700px) {
  #games {
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
  }

  .game {
    width: 80vw;
  }

  #games > *, #games div:first-child {
    margin: 10px 0px;
  }

  #games {
    margin: 0px;
  }

  nav a {
    margin: 0px 10px;
    padding-top: 20px;
  }

  nav {
    font-size: 12px;
  }

  #play-link {
    font-size: 20px;
    letter-spacing: 3px;
  }

  .game button {
    width: 50px;
    bottom: -20px;
  }

  #leaderboard, #notifications {
    margin: 10px 0px;
  }

  main {
    width: 90%;
  }
}


@media (max-width: 620px) {
  #top-header h3 {
    font-size: 12px;
    letter-spacing: 3px;
  }

  #top-header {
    align-items: center;
    flex-direction: column;
  }

  nav {
    flex-direction: column;
  }

  h1 {
    font-size: 30px;
    letter-spacing: 5px;
    margin: 0px;
  }

  h2, #expand {
    letter-spacing: 5px;
    font-size: 18px;
  }

  #recent-trial-score h1 {
    font-size: 40px;
    letter-spacing: 10px;
  }

  #left-column, #right-column {
    flex-direction: column;
  }

  nav a {
    font-size: medium;
    padding: 10px;
    border-radius: 0px;
  }

  #play-link {
    border-radius: 0px 0px 30px 30px;
  }

  #leaderboard-table, #notifications p, .scores, #expand {
    font-size: 14px;
  }

  #recent-trial-score-split p {
    font-size: 12px;
    letter-spacing: 3px;
  }

  #player-avatar {
    justify-content: center;
  }

  main {
    flex-direction: column;
    padding: 10px;
  }

  img {
    max-width: 55vw;
  }
}
